<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>587443848420-r3nk0gai30bjnp8ctqrtl8lm6dpmoprf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.587443848420-r3nk0gai30bjnp8ctqrtl8lm6dpmoprf</string>
	<key>API_KEY</key>
	<string>AIzaSyBX4aeSuLnUy55Fbf05HVBOQHQQBv0ReyM</string>
	<key>GCM_SENDER_ID</key>
	<string>587443848420</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>TinderLBTA</string>
	<key>PROJECT_ID</key>
	<string>tinderlbta-4189e</string>
	<key>STORAGE_BUCKET</key>
	<string>tinderlbta-4189e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:587443848420:ios:4fa9801bd3e2ad2053d8f1</string>
	<key>DATABASE_URL</key>
	<string>https://tinderlbta-4189e.firebaseio.com</string>
</dict>
</plist>